.menu {
  background-color: rgba(255,255,255, .05);
  border-radius: 10px;
  margin-top: 15px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.menu-list-item {
  position: relative;
}

.menu-list .icon {
  width: 100%;
  height: 100%; 
}

.menu .btn {
  display: flex;
  width: 100%;
  height: 100%;
  border: 0;

  cursor: pointer;
  position: absolute;
  top:0;
  left:0;
  
  z-index:1;
}

.menu .btn:focus {

  border: 2px;
  outline: none;
}

.btn-menu {
  background-color: transparent;
}

.block-btn {
  margin: 20px;
  padding: 20px;
  border: solid 2px rgba(255,255,255, 0.2);
  background-color: rgba(255,255,255, .1);
  border-radius: 20px;
  height: 100px;
  width: 100px;

  display:flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s;
}

.btn-menu.active + .block-btn{
  border: solid 2px rgba(255,255,255, 0.6);
  box-shadow: 0 0 10px 1px rgba(255,255,255, 0.5);
  transition: all 0.2s;
}