@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans+Narrow&family=Ranchers&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  border: 0;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  color: white;
  padding: 20px;
  font-family: "PT Sans", sans-serif;
}

.d-flex {
  display: flex;
}

.d-row {
  flex-direction: row;
}

.d-column {
  flex-direction: column;
}

.box {
  background-color: #161725;
  color: white;
  padding: 20px;
  border-radius:20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


